/*Import*/

@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";

@import "components/buttons";

body {
    margin: 0;
    height: 100vh;
    display: grid;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: url(../../img/bg-waffle.jpg);
}

footer {
    grid-area: footer;
    background: rgba($color-crema, .3);
    /* background-image: url(../img/pattern-1.png); */
    background-repeat: repeat-x;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    .rrss {
        text-align: center;
        font-size: 2.2rem;
    }
    .links-relativos {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-left: 12px;
        }
    }
}

.nav-active {

}


/*==Estilos==*/

body.index {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 60vh 1fr 40px;
    grid-template-areas: 
        "header header header header header header"
        "logo logo logo logo logo logo"
        "showcase showcase showcase showcase showcase showcase"
        "footer footer footer footer footer footer"
    ;
    position: relative;
}

header {
    width: 100%;
    position: absolute;
    padding: $padding-base * 2;
    top: 0;
    z-index: 101;
    grid-area: header;
    display: grid;
    .menuPrincipal {
        padding: 0 30px;
        display: flex;
        flex-flow: row wrap;
        .box {
            position: absolute;
            z-index: 250;
            width: 80px;
            height: 80px;
            right: -1vh;
            top: -2vh;
            .icon { 
                stroke: $color-white;
                opacity: .95;
                border-color: transparent;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%; 
                height: 100%;
                fill: none;
                stroke-width: 6;
                stroke-linecap: round;
                stroke-linejoin: round;
                cursor: pointer;
                padding: 0;
            }
        }
        button {
            border: none;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: flex-start;
            flex-grow: 1;
            li {
                padding: 12px 0;
                &.active {
                    a {
                        background: #fff;
                        border-radius: 25px;
                        padding: $padding-base 0;
                        padding-left: $padding-base * 1.5 !important;
                        padding-right: $padding-base * 1.5 !important;
                        color: $color-secundario !important;
                    }
                }
                a {
                    color: $color-white;
                    font-size: 1.3rem;
                    flex-grow: 1;
                    text-align: center;
                    margin: 0px 16px;
                    font-weight: $fw-bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

section.logo {
    position: relative;
    margin-top: -80px;
    z-index: 100;
    grid-area: logo;
    background-image: linear-gradient(
        to right bottom,
        rgba(90, 30, 10, .6),
        rgba(90, 30, 10, .4)), 
        url(../img/bg-3.jpg);
    background-size: cover;
    animation: clipPathDown 5s ease-out;
    animation-fill-mode: forwards;
    text-align: center;
    color: oldlace;
    .contenedor-logo {
        animation: scaleLogo 1s ease-in-out 1s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
        margin: 100px auto 0 auto;
        text-align: center;
        img {
            height: 130px;
            margin: 0 0 15px 0;
            text-align: center;
        }
    }
    .mensaje-principal{
        margin: 20px auto 0 auto;       
        width: 60vh;
        display: flex;
        flex-flow: row wrap;
    }
    h1 {
        font-weight: 700;
        font-size: 3.3rem;
        margin-bottom: $margin-min;
        @include textShadow;
    }
    h2 {
        font-style: italic;
        font-size: 1.8rem;
        margin-bottom: $margin-min;
        @include textShadow;
    }
    p {
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 700;
        display: block;
        border-radius: 5px;
        padding: 20px;
        width: 70%;
        background: $color-white;
        color: $color-secundario;
    }
}

section.frontMsg {
    grid-area: frontMsg;
    position: relative;
}

section.showcase {
    grid-area: showcase;
    position: relative;
    top: -15vh;
    z-index: 102;
    width: 50vw;
    margin: 0 auto;
    .item-showcase {
        display: flex;
        flex-flow: row wrap;
        article {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 3fr;
            grid-template-areas: 
                "nombre nombre nombre"
                "ingredientes ingredientes precio"
                ;
            grid-column-gap: 6px;
            grid-row-gap: 6px;
            border-radius: 5px;
            width: calc(100% - 200px);
        }
        &--foto {
            grid-area: foto;
            width: 200px;
            img {
                width: 100%;
            }
        }
        &--nombre {
            grid-area: nombre;
            background: rgba($color-secundario, .9);
            color: $color-white;
            @include border-radius-base($border-radius-base*2);
            h2 {
                margin: 5px;
                padding: 5px;
            }            
        }
        &--ingredientes {
            grid-area: ingredientes;
            color: rgba($color-secundario, .9);
            background: $color-white;
            padding: $padding-base;
            border: 8px solid rgba($color-secundario, .9);
            @include border-radius-base($border-radius-base*2);
            ul {
                margin: 5px;
                padding: 5px;
                li {
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }
        &--precio {
            padding: 10px;
            grid-area: precio;
            color: rgba($color-secundario, .9);
            background: $color-white;
            padding: $padding-base;
            border: 8px solid rgba($color-secundario, .9);
            @include border-radius-base($border-radius-base*2);
            h3 {
                font-size: 1.25rem;
            }
            h4 {
                font-size: 28px;
            }
        }
    }
}


/*Secciones*/

body.seccion {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas: 
        "header header header header header header"
        "content-main content-main content-main content-main content-main content-main"
        "footer footer footer footer footer footer"
    ;
    section {
        @include padding-page(20px);
        &.content-main {
            grid-area: content-main;
            background: url('../img/bg-waffle.jpg');
        }
    }
    header {
        background-image: linear-gradient(
        to right bottom,
        rgba(90, 30, 10, .6),
        rgba(90, 30, 10, .4)), 
        url(../img/bg-5.jpg);
        background-size: cover;
        animation: clipPathDown 1s ease-in-out;
        animation-fill-mode: forwards;
    }
}


$colores-showcase: (
    sc--uno: rgba($color-naranja, .7),
    sc--dos: rgba($color-verde, .7),
    sc--tres: rgba($color-violeta, .7)
);

@each $clase-color, $sc-color in $colores-showcase {
    .#{$clase-color} .item-showcase--ingredientes{
        background: $sc-color;
    }
}


.menu-dulce {
    width: 100%;    
    ul {
        display: flex;
        flex-flow: row wrap;
        li {
            width: 33%;
            text-align: center;
            figure {
                width: 100%;
                img {
                    height: 190px;
                }
            }
            h3 {
                font-weight: 700;
            }
            h4 {
                margin-bottom: $margin-min;
            }
        }
    }
}
.tabla-precios {
    p {
        font-size: 1.3rem;
        margin-bottom: $margin-min*6;
    }
}
.content-main-delivery {
    display: flex;
    flex-flow: row wrap;
    padding: 0 !important;
    .delivery {
        &-map {
            width: 66vw;
            height: 100%;
            padding: 0 !important;
            iframe {
                height: 100%;
            }
        }
        &-form {
            padding: 20vh 20px !important;
            form {
                padding: 10px 0 !important;
            }
        }
    }
}

// BUCLE DEMO PARA DESAFÍO

// @for $i from 1 through 3 {
//     .carousel-item .item--showcase.show-#{$i} {
//         width: 100%;
//     }
// }

//  @for $i from 1 through 3 {
//      .carousel-item .item-showcase.show-#{$i} .item-showcase--ingredientes {
//         background: 
//      }
//  }

.carousel-control-next {
    right: -7vw;
    background: $color-white;
    border: .1rem solid $color-secundario;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 50%;
}
.carousel-control-prev {
    left: -7vw;
    background: $color-white;
    border: .1rem solid $color-secundario;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F23054' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F23054' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@keyframes textShadow {
    0% {
        text-shadow: 0 0 0 rgba(210,210,210,.2);
    }
    100% {
        text-shadow: 3px 3px 0 rgba(210,210,210,.2);
    }
}


@import "base/mobile";


