

/*Botones*/
a,
.btn:link,
.btn:visited {
    text-decoration: none;
    display: inline-block;
    backface-visibility: hidden;
}

.btn {
    &-chat {
    padding: 24px 10px;
    background: $color-secundario;
    color: $color-white;
    font-size: 1.3rem;
    border-radius: 5px;
    width: calc(30% - #{$margin-med});
    margin-left: $margin-med;
    transition: all .2s ease-out;
        span {
            display: block;
        }
        &:hover {
            transform: translateY(-3px);
            color: $color-white;
            box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        }
    }
    &-submit {
        color: $color-white;
        background: $color-secundario;
        padding: 10px 25px;
        border-radius: 100px !important;
        font-size: 1.3rem;
    }
}
