* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

ol,ul {
    list-style: none;
    margin-bottom: 0;
}
p {
    margin-bottom: initial;
}

td,th {
    background-color: #fafafa;
}

