@mixin padding-page($padding-page) {
    padding: $padding-page;
}
@mixin border-radius-base($border-radius-base) {
    border-radius: $border-radius-base;
}

@mixin textShadow {
    animation: textShadow 2s ease-in-out;
    animation-fill-mode: forwards;
}