$font-titulo: 'Nunito', sans-serif;
$font-texto: 'Roboto', sans-serif;


$color-white: #f2f2f2;

$color-primario: rgb(239, 71, 35);
$color-secundario: #F23054;
// $color-secundario: rgb(229, 63, 63);
$color-verde: #71bb02;
$color-naranja: #F28705;
$color-violeta: #a34abe;
$color-crema: #F2C894;

$fw-light: 300; 
$fw-med: 400; 
$fw-bold: 700; 

$padding-base: 1em;

$margin-min: .2rem;
$margin-med: .4rem;

$border-radius-base: 3px;

/* Color Theme Swatches in Hex */
.Waffles-with-berries,-strawberries-1-hex { color: #732231; }
.Waffles-with-berries,-strawberries-3-hex { color: #F28705; }
.Waffles-with-berries,-strawberries-5-hex { color: #D93B3B; }
/* Color Theme Swatches in Hex */
$Waffles-1-hex: #D9042B;
$Waffles-2-hex: #A6032F;
$Waffles-3-hex: #71bb02;
$Waffles-4-hex: #F2C894;
$Waffles-5-hex: #BF4904;

/* Color Theme Swatches in Hex */
$breakfast-plate-with-waffles-and-berries-1-hex: #8C111B;
$breakfast-plate-with-waffles-and-berries-2-hex: #F23054;
$breakfast-plate-with-waffles-and-berries-3-hex: #F2CA99;
$breakfast-plate-with-waffles-and-berries-5-hex: #8C3503;


/* Color Theme Swatches in Hex */
$Honey-pouring-on-a-fresh-waffles-2-hex: #F2B33D;
$Honey-pouring-on-a-fresh-waffles-3-hex: #D96704;
$Honey-pouring-on-a-fresh-waffles-4-hex: #BF3604;


